@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply text-2xl font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}

/* 일반 css */

:root {
  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-light-bg: #fceccd;
  --color-light-bg-op: #fae1af;
  --color-light-bg-op2: #fbd997;
  --color-light-pri: #f6ad1b;
  --color-light-pri-op: #fbc14d;
  --color-light-pri-op2: #f9c762;

  --color-dark-bg: #1f1f38;
  --color-dark-bg-op: #2c2c6c;
  --color-dark-pri: #4db5ff;
  --color-dark-pri-op: rgba(77, 181, 255, 0.4);
}

.sign-container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 5rem auto;
}
.sign-container .sign-content {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.sign-container .sign-content .sign-header {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-container .sign-content .sign-header h2 {
  color: var(--color-gray-400);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sign-btn {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
}
.sign-container .sign-formBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background: #fff; */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.sign-container .sign-formBox.active {
  left: 50%;
}
