@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }
  body {
    @apply text-[#232428];
  }
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply text-2xl font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .headerIcon {
    @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .link {
    @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom no-repeat;
    background-size: 100% 2px;
  }

  .tabPanel {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  }
}

/* 일반 css */

:root {
  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-light-bg: #fceccd;
  --color-light-bg-op: #fae1af;
  --color-light-bg-op2: #fbd997;
  --color-light-pri: #f6ad1b;
  --color-light-pri-op: #fbc14d;
  --color-light-pri-op2: #f9c762;

  --color-dark-bg: #1f1f38;
  --color-dark-bg-op: #2c2c6c;
  --color-dark-pri: #4db5ff;
  --color-dark-pri-op: rgba(77, 181, 255, 0.4);
}

.sign-container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 5rem auto;
}
.sign-container .sign-content {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.sign-container .sign-content .sign-header {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-container .sign-content .sign-header h2 {
  color: var(--color-gray-400);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sign-btn {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
}
.sign-container .sign-formBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background: #fff; */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.sign-container .sign-formBox.active {
  left: 50%;
}

.btn {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
  background: transparent;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  color: #21ebff;
  transition: all 0.5s;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: all 0.5s;
}
.btn:hover::before {
  width: 100%;
  height: 100%;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: all 0.5s;
}
.btn:hover::after {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .sign-container .sign-content {
    position: absolute;
    top: 0;
    width: 420px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sign-container .sign-formBox.active {
    top: 70%;
    left: 0;
  }
}
